html, body {
    height: 100%;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    }

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url("../images/water0.png");
}

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port { 
    /* selects all elements with a class of port, which are a direct child of an element with an id of ports */
    width: 64px;
   height: 32px;
   background-image: url('../images/port.png')
} 

#ship {
    background-image: url(../images/ship.png);
    height: 64px;
    width: 128px;
    position: absolute;

}

#sailbutton {
    border: 0px;
    background-color: #ff6a00;
    border-bottom: 4px solid #be68be;
    color: #000;
    font-family: inherit;
    font-family: 'Estonia', cursive;
    padding: 10px 20px;
    position:absolute;
    bottom:0px;
    left: 0;
    width: 100%;

}

#sailbutton:focus {
    background-color: #05aa6d;
    border-bottom-width: 0;
    padding-top: 14px;
}